<div class="container">
  <h1>Add User</h1>
  <hr>
  <div class="row">
    <!-- edit form column -->
    <div class="col-md-12 personal-info">

      <form [formGroup]="AddUserForm"> 


        <div formGroupName="userDetails">
          <div class="form-group">
            <h3>Personal info</h3>
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && firstName.errors }" value=""/>
              <div *ngIf="submitted && firstName.errors" class="invalid-feedback">
                <div *ngIf="firstName.errors.required">First Name is required</div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && lastName.errors }" />
              <div *ngIf="submitted && lastName.errors" class="invalid-feedback">
                <div *ngIf="lastName.errors.required">Last Name is required</div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && email.errors }" />
              <div *ngIf="submitted && email.errors" class="invalid-feedback">
                <div *ngIf="email.errors.required">Email is required</div>
                <div *ngIf="email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            </div>

            <div class="form-group">
            <label class="col-lg-3 control-label">Date of Birth:</label>
            <div class="col-lg-8">
              <input class="form-control" formControlName="birth" type="date" [ngClass]="{ 'is-invalid': submitted && birth.errors }"/>
              <div *ngIf="submitted && birth.errors" class="invalid-feedback">
                  <div *ngIf="birth.errors.required">Birthday is required</div>
                </div>
            </div>
          </div>

            <div class="form-group">
              <label class="col-lg-3 control-label">Gender</label>
              <div class="col-lg-8">
                <input type="radio" value="male" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && gender.errors }" >
                Male
                <input type="radio" value="female" formControlName="gender" [ngClass]="{ 'is-invalid': submitted && gender.errors }">
                Female
                <div *ngIf="submitted && gender.errors" class="invalid-feedback">
                  <div *ngIf="gender.errors.required">Gender is required</div>
                </div>
              </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">Phone Number</label>
                <div class="col-lg-8">
                  <input type="text" formControlName="phone" class="form-control" [ngClass]="{ 'is-invalid': submitted && phone.errors }" />
                  <div *ngIf="submitted && phone.errors" class="invalid-feedback">
                    <div *ngIf="phone.errors.required">Phone is required</div>
                  </div>
                </div>
              </div>


            <div class="form-group">
              <label class="col-lg-3 control-label">Website</label>
              <div class="col-lg-8">
                <input type="text" formControlName="website" class="form-control" [ngClass]="{ 'is-invalid': submitted && website.errors }" />
                <div *ngIf="submitted && website.errors" class="invalid-feedback">
                  <div *ngIf="website.errors.required">Website is required</div>
                </div>
              </div>
            </div>

            <!--Address-->
            <div formGroupName="address">

              <div class="form-group">
                <label class="col-lg-3 control-label">Street</label>
                <div class="col-lg-8">
                  <input type="text" formControlName="street" class="form-control" [ngClass]="{ 'is-invalid': submitted && street.errors }" />
                  <div *ngIf="submitted && street.errors" class="invalid-feedback">
                    <div *ngIf="street.errors.required">Street is required</div>
                  </div>
                </div>
              </div>



              <div class="form-group">
                <label class="col-lg-3 control-label">Suite</label>
                <div class="col-lg-8">
                  <input type="text" formControlName="suite" class="form-control" [ngClass]="{ 'is-invalid': submitted && suite.errors }" />
                  <div *ngIf="submitted && suite.errors" class="invalid-feedback">
                    <div *ngIf="suite.errors.required">Suite is required</div>
                  </div>
                </div>
              </div>



              <div class="form-group">
                <label class="col-lg-3 control-label">City</label>
                <div class="col-lg-8">
                  <input type="text" formControlName="city" class="form-control" [ngClass]="{ 'is-invalid': submitted && city.errors }" />
                  <div *ngIf="submitted && city.errors" class="invalid-feedback">
                    <div *ngIf="city.errors.required">City is required</div>
                  </div>
                </div>
              </div>


              <div class="form-group">
                <label class="col-lg-3 control-label">Zipcode</label>
                <div class="col-lg-8">
                  <input type="text" formControlName="zipCode" class="form-control" [ngClass]="{ 'is-invalid': submitted && zipCode.errors }" />
                  <div *ngIf="submitted && zipCode.errors" class="invalid-feedback">
                    <div *ngIf="zipCode.errors.required">Zipcodeis required</div>
                  </div>
                </div>
              </div>


              <div formGroupName="geoLoc">

                <div class="form-group">
                  <label class="col-lg-3 control-label">Latitude</label>
                  <div class="col-lg-8">
                    <input type="text" formControlName="lat" class="form-control" [ngClass]="{ 'is-invalid': submitted && lat.errors }" />
                    <div *ngIf="submitted && lat.errors" class="invalid-feedback">
                      <div *ngIf="lat.errors.required">Latitude is required</div>
                    </div>
                  </div>
                </div>



                <div class="form-group">
                  <label class="col-lg-3 control-label">Longitude</label>
                  <div class="col-md-8">
                    <input type="text" formControlName="lng" class="form-control" [ngClass]="{ 'is-invalid': submitted && lng.errors }" />
                    <div *ngIf="submitted && lng.errors" class="invalid-feedback">
                      <div *ngIf="lng.errors.required">Longitude is required</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--GeoLoc-->

            </div>
            <!--Address-->

          </div>
          <!--UserDetails-->


          <div class="form-group">
            <h3>Account Info</h3>
            <label class="col-md-3 control-label">Username:</label>
            <div class="col-md-8">
              <input type="text" formControlName="userName" class="form-control" [ngClass]="{ 'is-invalid': submitted && i.userName.errors }" />
              <div *ngIf="submitted && i.userName.errors" class="invalid-feedback">
                <div *ngIf="i.userName.errors.required">Username is required</div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input type="text" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && i.password.errors }" />
              <div *ngIf="submitted && i.password.errors" class="invalid-feedback">
                <div *ngIf="i.password.errors.required">Password is required</div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-3 control-label">Confirm Password:</label>
            <div class="col-md-8">
              <input type="text" formControlName="cfpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && i.cfpassword.errors }" />
              <div *ngIf="submitted && i.cfpassword.errors" class="invalid-feedback">
                <div *ngIf="i.cfpassword.errors.required">Confirm Password is required</div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-3 control-label">Status:</label>
            <div class="col-md-8">
              <input type="text" formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': submitted && i.status.errors }" />
              <div *ngIf="submitted && i.status.errors" class="invalid-feedback">
                <div *ngIf="i.status.errors.required">Status is required</div>
              </div>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <button  class="btn btn-primary" (click)="AddUsers()"> Submit </button>
              <span>&nbsp;</span>
              <input type="reset" class="btn btn-default" value="Cancel">
            </div>
          </div>
      </form>
    </div>


  </div>

  <hr>
  <pre>{{AddUserForm.value | json}}</pre>